/* ========= [1] Global Styles ========= */
body {
  background: #111;
  margin: 0;
  padding: 0;
}

/* ========= [2] Game Page Styles ========= */
body.game {
  color: #bb0000;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
}

body.game h1 {
  font-size: 35px;
  background: linear-gradient(90deg, #ff0000, #000000);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 35px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

body.game canvas {
  background: black;
  border: 2px solid #ffffff;
  margin-top: 20px;
}

/* ========= [3] Login Page Styles ========= */
body.login {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  font-family: 'Orbitron', sans-serif;
}

body.login h1 {
  font-size: 42px;
  background: linear-gradient(90deg, #ff0000, #000000);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 60px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

body.login input {
  padding: 10px;
  font-size: 18px;
  border-radius: 8px;
  border: none;
  outline: none;
  margin-bottom: 30px;
}

body.login button {
  margin-top: 5px;
  padding: 10px 20px;
  background: #bb0000;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
}

body.login button:hover {
  background: #ff0000;
}

/* ========= [4] Lobby Page Styles ========= */
body.lobby {
  color: #bb0000;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
}

body.lobby h1 {
  font-size: 35px;
  background: linear-gradient(90deg, #ff0000, #000000);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 35px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

body.lobby canvas {
  background: black;
  border: 2px solid #ffffff;
  margin-top: 20px;
}

body.lobby input {
  padding: 10px;
  font-size: 18px;
  border-radius: 8px;
  border: none;
  outline: none;
  margin-bottom: 30px;
}

body.lobby button {
  margin-top: 5px;
  padding: 10px 20px;
  background: #bb0000;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
}

body.lobby button:hover {
  background: #ff0000;
}